{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Polls</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
            <div class="page_title"><li>투표의 정석<a href="/polls/"><i class="fas fa-home"></i></a></li></div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
